.services{
    padding: 40px 20px;
    background-color: aliceblue;
}
.card{
    border: 1px white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}
.cardTitle{
    font-weight: bold;
}